<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>
    
<nav class="admin-navbar">


  
     <span class="admin-headding"><strong><a href="/admin"> ADMIN PANEL</a></strong></span> 
    <input type="text" id="search" class="search" placeholder="Search..."> 
   <span id="all-product"><a href="">All products</a></span>

  <span id="all-oders"><a href="/admin/orders">All oders</a></span>

   <span id="all-users"><a href='/admin/all-users'>All users</a></span> 

    <a class="btn btn-danger mt-5" style="float: right; margin-right: 25px;" href="/admin/logout">Logout</a>

</nav>
</body>
</html>