
<body style="background-color: black;">
    
</body>
<header class="header">



  <div class="container-css">
    
    <div class="row mt-5" >
{{#if users}}
      <div class="card bg-light" style="width: 300px; ">
        <div class="card-body" style="">
          <h5 class="card-title"></h5>
          <p>{{users.fname}} {{users.lname}}</p>
          <p class="card-text">Email:{{users.email}}</p>
          <p class="card-text">Phone:{{users.phone}}</p>
        </div>
      </div>

    </div>

{{/if}}
  </div>

  </header>
