<body style="background-color: coral;">
    


<h1 style="text-align: center;margin-top: 300px;">Orderd succssful</h1>
<a href="/view-orderd-products" class="btn btn-primary" style="margin-left: 47%;">View Orderd list</a>




</body>